<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- 
    IMPORTANT!! - Incorrectly configuring or formatting this config file will cause the service to fail to start
    ONLY touch these configs if you know what you are doing
    
    Read the comments next to the important configurations to learn about their valid values
    
    NOTE - If you change the SQL Server connection string below, make sure to also update the 'DBServerType'
            configuration option further down in the config file, to correctly indicate whether it's a local or remote
            server. YOU CAN ONLY USE ONE! IGNORE THE ONE YOU ARE NOT USING
  -->
  <connectionStrings>
      <!-- 
          For local SQL server connection, use 'DBServerLocal' setting below,
          make sure 'connectionString' correctly points to your remote instance
      -->
      <add name="DBServerLocal"
           connectionString="data source=DE404FDT100\THREESHAPEDENTAL; initial catalog=DentalManager; integrated security=False; User Id=sa;Password=3SDMdbmspw;"
           providerName="System.Data.SqlClient"/>
    
      <!-- 
          For remote SQL server connections, use 'DBServerRemote' setting below,
          make sure 'connectionString' correctly points to your remote instance
      -->
      <add name="DBServerRemote"
           connectionString="Server=172.16.204.100\THREESHAPEDENTAL;Database=DentalManager;User Id=sa;Password=3SDMdbmspw;"
           providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    <!-- The SQL server table name where our history records are being dumped -->
    <add key="DBTableName" value="tbl_processedHistory"/>
    <!-- 
        DBServerType can either be 'remote' or 'local'. This will make service pick between the 
        two types of DB connection strings in the  'connectionStrings' group element above
    -->
    <add key="DBServerType" value="local"/>
    
    <!-- Web Server connection options -->
    <add key="WebServerAddress" value="http://172.16.204.101:3000"/>
    <add key="WebServerUsername" value="mimizaana"/>
    <add key="WebServerPassword" value="wewe"/>
    
    <!-- Logging Folders. Don't delete these, but you can change their value to a valid folder name -->
    <add key="LogFolder" value="FailedTransmits"/>
    <add key="CrashLogFolder" value="CrashLogs"/>

    <!-- 
      How often, in SECONDS the service will try to retransmit failed transmissions, 
      these failed transmits include locally logged failed, due to web server connectivity problems
      and those records whose insert|update events may have been missed by the service in the first place,
      maybe because the service was paused|stopped|crashed when they were inserted
      
      Default has been configured to 10 minutes i.e 60*10 == 600 seconds
    -->
    <add key="FailedRetransmitIntervalSeconds" value="600"/>
    
  </appSettings>
  
</configuration>